* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.nav-menu {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
  padding: 2px 10px;
  text-align: center;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

#date {
  text-align: right;
  font-weight: 900;
  padding-inline: 10px;
}

.menu__items-item {
  list-style-type: none;
  border-right: 2px solid black;
  padding-right: 10px;
  cursor: pointer;
}

.container__title {
  text-align: center;
  margin-bottom: 10px;
}

.container__body {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 5px;
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIALkBUQMBIgACEQEDEQH/xAAaAAABBQEAAAAAAAAAAAAAAAADAAECBAUG/9oACAEBAAAAAKLkaCaTM5wsrVnPeCZOkmSkcMEjBSTIqRhM7sydPExK82UxtKKZnRRFG0oMknLODp3ioukpygymrw6igndIoHikkkkSU4WiAVZ0k8piTyV4dN4uxbVUM1BJJnZERTkt5r1kxIOnRRp3izW41z2qgGTsyM0XjKchmlAbKUJzgpwuVLRaTJQKzOycSZpxU4ydJOkpvFNNSZTlCKiDM2XImaEUzFjCTTSTs7uYgxoh68HPYrRZsRbEnlIVcsFNxIsJxTqZOf0dAZIqUoJTkzFDn5PSp3eHObykNkrdOSk5Eud0dLmuhmG0neKoXYni3FddYq2Hjg7JosziTTTliVuY1dDnbUtC1JME1GrZuyWDm3s65tWsZaeVqkaMWIN2nkF57sjcdtaYL7rC5rvDYdjUq2B8Bq0SWNWeJu5m5bSGMoYTfjK1ns35S/0VDTZs/je4yKV25g7NziHtwjCc79reMOA4kHhijmhR9/P1LNGzq5WTmvo9LkU6dvT5NIw4ztGvX9GYgsF6uZkp2SvdJzxX0sMECdNoth5g50kXapZqLZs27urWCwk2PkvtUKiW9kFY+nkVC9UYtPngXsd9bbzsmpZiXQ2KF8bBk3OQu7lXLqwKMxdkuBXP1U5j56razJ7l2isA9adjoqByKTvgVNjTWbUpDa9sOufhY6YkxY2fCU9e1QjlRYS6OVe5CepX5cWvr2M/HohiXoIjwJm3bUx4VdEJrMKpUEOYdnW0ckL6VHBhs6uhn42WFR31lVNGofdtVMUMim10skAA9Ryt7cs54FPJPU09fSBhZCNW6I3Kl06dTW0qlfNtqzpPDOFVbbxJXSjcEM/TqWdAkauTZQ9qzymgdZc76ahp1zajQoDqmNUFeU7NFZ2hAVqxVpseNipcz9J2qDuTrw0qRNOAqYoWYjq3yDUq9W+9YlrOgUsLFazRvOw69uVZadKWoEVQaKoU7+plr//EABoBAQEBAQEBAQAAAAAAAAAAAAIBAwAFBAb/2gAKAgIQAxAAAAD0PN5R844+UcfOIUUcKOFFHdOknv8Ahcy46o+RfPmaUOFHCiijhT3d+j/PHTLbSVRxc44jYxwo4UUcKezsv6PwOsfIstUOqIdWeHBmBZ0WQU33vEijGncU+N68us6WImcNDx4WdmvY8uUsuzThRbbeXQyM6G3I3NvMLJ+r53dnoG5qYhauqZUueEsfHHYXfDDXF+/4eW/zfSyVsdejFjrHS5/PKdlgNcNocdAv0n53L6M9voxGmOiuqyqfMU0QI9A8e74vrFC/Q+CdORekL+d/Vfn5tamjhRRx7T50Pj+o8H+g8LH6LylQea0WPb64l7ZksUUcsjeOTl9fyhqzocNrVYjddcA9sspsKKTx6PPDVn//xAA4EAACAgEDAgUDAgUCBQUAAAABAgARAwQSITFRBRATQXEiMmEUgTNCUnKRNKEVICSxwSNTc9Hh/9oACAEBAAE/AKlTEUVwWFiZdrOSvTzqVKlTm7hzOylWNiUOJtlWJgSzNRpvSobowpgZkIfkCoBatFU8xRyJVmOpDQigBFUnp1PAjY2VirCiIRK94BApsAckzCiOTvaqEZaJm0mFSpIIoiBbIEyYHxhSfcSoFsgQrRIuUu3rzcqVKlSpjwB2QFusKEWa4urlRlAJANjvDRVQFAI6nvChAFiCVAOOTBakEdRKsEVzAKMQ7TxMmQsJViYcYclWah3hUBnA6VFXdfejAFKgBKIEVOfizAnPMGNshJEaxS/0w3VnqYFHNwi4BUo3FwuQTR4hBj40VEKvZPWBQbLE/P5m1l2nuLEZ2cAEypUqVKlQIWNCY8TZW2rCpBIgG7j3mwzZMiKrUhJE27fmElgAT0lSpXFQCVUcJwUvoLvvKRk6nfZMVaJVoo5oxRTV+0w4t7VdcGY15PxMWAOL96mTEMd96m0hWf8AaY2ZASIBZswfcDV89Ie02nqTfaMLriuIFIP5i5nUML69ZVwIWupUqVDZq/YVKlSpUqVAGWjyLiB1+vbfzAsTHv8AmHAa6R0CcD7u8XS5GQsBxKgHcTbBCsC2JjTc4WHAyuQpBqMvvCD17wqSQQLvmUA6kHrMY5I/BmLKEU1Mzb1DdzGHCj946Uq0bHv8wihX+YAQKHVomPcaiCzR6T9NQjp1C/uZVRAl/XdV7SgFsNzKEK0Bx1EAHNiALzfbiHGwUNRo9DNsKEGiKlSpUqDKwT0/5YzYTjUKv1TBVxiCvEyVc/UOMewT2qGzX48lx7gTYFQcTYa3AcSr+Yti1PEA5IMdxkAXYFoQA1YHQ/7GBbrjk+59qlUzgdjAp9M8e8IO5VlBmLVwIByWMXTA495MfHi9MEH6veMjAA0a9oisvJH7z1rWo4qFRfHSbYVIr8ien9G6x16QDuJUqYtu4BydsybRktOgPEdmyNubrPSO25shEQLfMCIwc7qroIFgeuB0hcxvq+YQASLhWC1NibKIDfTc2zaNoNi4HdUKexhUjkQLvI7x8bEtZBYf7yjw0TZXzGHB46GE4vTqvqqY2xjGAY4G52iADaO/McAtS9BNzH6QaEIvgRmYoATwJufZtJ+ntLMAHAfpHAs7ekQAMLEzbGa1FCFSJtF9b4lSoiqWAY0IQLNQqRLYg8cDyqGzVmV5kHiCxdSoB7TYUPIgxMQSBNpmyvntORNnuJs9xB9IJ94b5voeog3LAm++5E9I1+027a7gQKOA194Vqz7k8QoQKHv1moyDDi3+wdb+CZodTlyZ/T3llKkm5tA/Jm0mKvIAHMbGVNGUKqp0PSEQibZUqYlQtTmhHVQx29JUoUKv8ypUqVAJVWJUC9YAYBAN3BgVgCBCtTb2Mo+8ReeIVFWIVs8dZX/6IBMYFiGqjqJ6dgm5sPWviVd/954yzBcOMfbyZ4TpxsOe+TaygJViAVDbHmHHxCs9fC2T01cFo1EjihKlcdJ6X0bpi9MbgwuVKgwsVJmwwrQvv5VKAm0gAwAVMSIbueLahQ4x4ybR3BmgzHUaUO/33UQcw6/AHdKNpuB+VIEO1hY5HsRNt9IFMAqWYRNsCwcSzDzAKlWIVniWD1dK590+oTwrPszHCemSUoHTmUCo7wKJUNwi+sGJ8OtxpdEPCIbY8z0Ttu5RlSoLsRwBilSpUoSoiA3zNk2kTxvFjVsLgU7Xc8Jv9Cny0HE8YxFNWmVOuUTC+IKMCMPoUChHYYsbueiqSZptTj1ByBR9sr8TbKntKlTUa/HgynEMbMwmDKmbEuRfeZsyYvazAeBCIVUghhwQQf3mbE+lzsnRkbgzT5l1GJMq+8C8TJrtPiynHTEjgkRXTIAyEEeRE8TvFqcWQdgZjZcqK69GFiFBtE5qrmwVCBUZUoV1lQ3KlQLKN1UBXbVQVcWo08eb/qMCdsU8MFaHBKM8YzVq8ASrxJPB8DBHzvf18LPFEyY0Z0YjHkNZV/M0enXT6dFHUjcx7kypUqVMOfBmsY8itUqZ/DsOfKchZwT1qaAnBqMmFu5H7iaoD1vlRE3FbbqfbtKlTxrTWiagfDzw7XfpMlPzifrNd4oWdU07si9+hMVyTZM0+qbA+4c9xMOtw56ANP8A0mETxjGTixZP6TRnhGTdgdP6HmpzjT4Dkq/xB4nmJ/hLMOVMyB1lTbCIR5EVLgYg2DzLg4q5r/Fzp8hxYACw6kzw/wATGqtM1I4mv1I1WqyZV+3os0uE4tLgRuCqC4TfE1P/AFPiGXZ/PmoTwfPuxHA3VJqMfq4Mqd1sfImgyb8AU9U4/wCTxnM6jHjBoEEmBmRgymipsGafKc2DFkNWyAny16nDq94/mphPXXNqtPXSl8jrdIH2HMtywRY5Ezen6OX1RabDu+JcxaxP+GZcDVvDDZA8DiaX68+Pmgh3s3ZVj+M4AeMLmDWafXafUILB9MnaZotU2myhx9p4cTxN70+EKbDvcxpNEm3Efy0qdDKBMyCvJhdmUauuJcWtw3GM1n8TW2dZqL6+o0DMt0SLFGaJ8GPUJkz3sTmgOpEwa3T6tScT8jqDHyrjR8hPCKWnhwL67B+G3R0/SeJIw4RnsfDQGYB6GpdCeICCLBly54lpjqsH0felkQwPh0Wlx7yEVVAmfxjK/GBdg7nlonq5npQzuZp7XWonZzNfrAMfp425b7ozTwjOSj4T/KbWeJuB4dqJcBml1X6bJv8ASR+K+qZcpyZHcgCzdCeowVlB4NX+ahaYcrY8iOpogwcEjsYmS8AxG/pe1mITDXpqAQaHt5GWRGYnrLiDeptp6xCFJqvFDiytjxIDt4JMTxl/58APwah8ZzXxhSajN6+VsmwKW6geem1GTTZRkQ/I7ieJatDowEYXlnhP+sT+xp4oobFjfs1TS6wZcJJ+9FthPXLksTZPUzT6o48gBP0seYWmt8ROAnHiA3+5MPimtph6vX8CN9XPv7ze7hAzkhRSgnoJotG2pJJJVB1Mw4seBduNKEzrm0mc5loqxMz5vWfcFr8RpoDnTJuxi76ieJsR4c+7qzL53MWHLlvYtheSfYRuCRcuJVizUfYMh2OGHW6qIZjaY8tTFk9RfyIbjGEy5uMNjgzPpNLnfc2Om9yDNXocGHE2RXf8A+YBYgAdf+TQZhh1KE9D9MznEcGUZDSlep9jEysvQkcVxA8Lwa8YtMp65OgjszsSbJJ/ckx7BIIog0R5ATw5dmkT8lmhctNoyWpAIPsZrtJ+mcV9jRhAMjMAllh0rrNRrMuoxYsb/wAnnhw5M+QY8YtjNNpn9BsWS156GavQnDjOXdY3AeQimI0R5iZmYKvJMwZSHAo32gdWXgxzCZcXkmWNv5m6eKZbOPF25PlU8NwHERnYc19E1mH0s710PI4oSvPO4zeHq98jaYGitfwBC8OHLkI9NSwqaDSJhyDJl5cf4WeI/wCu1X/ymCAcTFS4sYHsk/8AoQEgGuK5mtvJgb9jHEptw23uviutzxkEanET1OBL8qnhaU+TJ2FCAb9x3DvzPESRpSO7iHTH9ImYdzfx5aZBkOUHqMTEfIitA80L3qB/aZkG5GHTsZg1DY83pP7moWuoW5M3Q3cWieWry1TF9RlJ/qm3Z169poNOubMS/wBiCzCSTZM1qb8DfggzBpvWLrdEJaxlIJBHI8hmYYDh9i4aXE5RvmLiYjoZpucKDgUsuzQNDvNeUOtz7OlxYgvjvxN3QcfSsX2+J2MYA2vsZmTY7L2MDbHVv6WB/wATxPMufJiI/ogWBZoAP04A6ljcHaeMAKMCA8UWmRgmhAYdMQSETRvs1Cdmtf8AMBgaYM3p5cbdmhcnm5rUvH6o4dJizDLiV+83TdE2uTv/AGgQwDqNtn2moRMOV9h3NfXtAJoFpHPdoq3GTcjL3BE0qFc3ypmrAOfKR/VGEPloSrO2N/tIuHsEAqWftUX3l/y3z/3M1BvUZf7zFiGivyJf1N8QH6QfzC3JELWPiaxrzPG8gIFmjWsA+TOk1SHNqcCTXsfpx/uYRF+nIh7MJnT0s2RP6XI8rmHLeLG3uVFzLi9XE6joR/gzSabPhDh/tvic1ZoCq+ZadjEHMxoHFnrNWThxkJ9x95kSjAOZofsf5mJAxjYgOkGHZmmZfqb5McQ+WB9mVG/MZgqAAC+bNwMU5BokTJlGHEct89F+ZdmCKZp84ypZ+7m4rrQsXzPUG0E9a4m8gnsevwZna8uT+4+QgEAmFdmJB+JkzvZx41Fk8mY8brqNztbKLuali+ZyfiERhHJZixNkmzMWB8wylemNC58tDb4lUdQSJgX6qMbAgWZr3Teey/4ExGzF1CjhJqsy5tyj7h/vHPMWaJqxMO7TDyRUHSah/TzLxfE1i7crfnmPDAjMrsBwvWKNzKO5AmLG2R9sfl6Aqaxy2Wr4XgDyxaYbCr/c3+0IKMVPUGYMpxuCDXsfiKp22ehgxMcd10mQkCagbcrdjzLggii6EEqBtpBmQU7fJjCNGnh+lRNC6n786wgqSCOQaM0TkbxEzBSGYAGuF/8AJh1nEzNzY5B6TfPV9hwIcgQn6rAF3DlN3fMRRnVnI+qiPn8xTNI30t8zBm2G4uYGieJqDjenoErNYdy32jGZMexEPues04vFlHu3Ew/xcf8AcJiT1eB1Ey4NgLPHbezN3NzTIWyg1wnJin3vvNQm4bx1HWAzR57xlSeViattjLu9ocm4kTPhdsYNfkQQIBgVvctFmGvUT5gqXCZm/iP8zKKXH/bf+TGmJBkyqD06mHOSBNWP/WY/1czSNtdvibzFz0pWoH9j0MtOzS5lJ9NvJTtoD2mUDe1CaZ6sd4r7Off/ALQag94dQbsGZ8ijGzD34qEzId2nU/E05+g/MdGxOHXpdiaDWo3LcMJ4hqkfT5aPO3y0qE4mK+55/aK5RXHfiK9I60OY67GImDJsyA+x4MV6Im6jMupfEjqp5cV8AxLJAECD0Cg5Ki4DEaiDFHKi+TG+kkQmOd7mj1Mzurva9AABGmEbVv3aW1X7TU87DMJrIsuXEcKwJFifqcX/ALCxTRszV5VZSQteeTGXG4dRLmLJuHPURAHNbgJkzhGK9ajuXNmKpc0JkFYq7VNPxuhoqQebi3iyiZCciMtwijU0uVsOOhHYsF6Q0NwBsTOLozEqs4DT3qOtWbFXNSdyoZpq9QWLoGY+TOhI7RTZHyIW46c95umV6QwmEwDcwEJlzNykBogy7hxOqhiOIWLEky4epmf7B8+Yjfc0wfefiCZPvb5Plh+5viZfsMwdD8z+aZ/vX4g6GH7j8xftX4h6CfymZP4bTF/ET5h6mN0Ez9E/eab7z8TH937zJ/Fyf3mJ9y/Ig6Zf7f8Az5Zvs/eGN7TF9/7GHyyfY3kOomb/AEaef//EACURAAICAgICAQUBAQAAAAAAAAABAhEQMQMhEiJBIDJRYXEwgf/aAAgBAgEBPwD/ADYxjGMYyyyx4ckWkt/W7oYxjGMYxlljKTJQbdlJpJ5eOmWN/oYxjGMYx6HiyyyxyFMsc6eG6FKyx4Y0MZQ/tQk3pHjL8YsciTffZboVotlnkWa7obL+ho8bHFfA4CfipdbRRdjVkh6Eyqgbh/HiKt0SVEXdoellljLpMhJuRRKHTeFekOUdWScWlWI6Fv8A4Ri/ZMcGmKL2NWzqPSQ1bseaKJkZeLLTVonKjyKJwjGLdY8JVZRDtYaTJSroiho7seLL7NklZKBCTjaJu8WcqtIhG2OtDghpxZHkuljk+COssY8J4cUxPxmv6ciSk0n1jkTdUNVDvZA5JNSIu0v4T0aaxOVyI2qvDGMY8RE02zkVcjORxk14o8WOXTZxtzbvRDqVEoKRFKKJNNS/SGvWDPK+1oirkNWhSp0xj2MY8XSOK1I5Y+x4lP8ABJtQZxfJJU7IO0TnJkV6SZBeiIL74/BxpW8TXuMf3DGMRLZHaOT4Iu0yj//EACQRAAICAgICAgIDAAAAAAAAAAABAhEQIRIxIEEDIjBRQ3GB/9oACAEDAQE/ALEIQhCEIX4miihCEmJCEIQhG61+KihCtEZJKi2IQhCEXrrwq+8e8+8pCQkJCRQsIsjKyxvTIXx2WcurLxdC7Y2lVsuP7KEhRI1rR78LLOtjZY9FvpW8RZzqhSfs5klya30WVQmkRFj3lbGqItu0S6ijYnqmQqiUU9m0VckTikixSw2u2KMu6Ipp7w/BIq2aXSKtpklaHpikc9HK2Rpk48l2U06ZFFCZ8c5SkleOSusMQiyKKFdj6GRi2xxXH+kU1RGVCmTipUyKrCR8LpslKkIUmJ3hDI+HFWUNWTiPSFJoe4/4QbcVePiaXYncnXRMgk0VRHCGyOheT6JoaaIO4IgpK+TLQoW0TqCVEtqyMmi7YsIW2VaFKnTxf28a5SPlpxPjf1LLX7IpOaPl9EHehqmRSH3hEREl9sfyeEuiPTZLpkPZJVj/2Q==');
  background-size: cover; /* adjust to fit the container */
  background-position: center center; /* adjust to position the image */
}

.parent-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.container__body-btn {
  background-color: #ffff;
  color: black;
  padding: 5px 10px;
}

.container__body-title {
  font-size: 1rem;
}

.add-book {
  max-width: 350px;
   background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIALkBUQMBIgACEQEDEQH/xAAaAAABBQEAAAAAAAAAAAAAAAADAAECBAUG/9oACAEBAAAAAKLkaCaTM5wsrVnPeCZOkmSkcMEjBSTIqRhM7sydPExK82UxtKKZnRRFG0oMknLODp3ioukpygymrw6igndIoHikkkkSU4WiAVZ0k8piTyV4dN4uxbVUM1BJJnZERTkt5r1kxIOnRRp3izW41z2qgGTsyM0XjKchmlAbKUJzgpwuVLRaTJQKzOycSZpxU4ydJOkpvFNNSZTlCKiDM2XImaEUzFjCTTSTs7uYgxoh68HPYrRZsRbEnlIVcsFNxIsJxTqZOf0dAZIqUoJTkzFDn5PSp3eHObykNkrdOSk5Eud0dLmuhmG0neKoXYni3FddYq2Hjg7JosziTTTliVuY1dDnbUtC1JME1GrZuyWDm3s65tWsZaeVqkaMWIN2nkF57sjcdtaYL7rC5rvDYdjUq2B8Bq0SWNWeJu5m5bSGMoYTfjK1ns35S/0VDTZs/je4yKV25g7NziHtwjCc79reMOA4kHhijmhR9/P1LNGzq5WTmvo9LkU6dvT5NIw4ztGvX9GYgsF6uZkp2SvdJzxX0sMECdNoth5g50kXapZqLZs27urWCwk2PkvtUKiW9kFY+nkVC9UYtPngXsd9bbzsmpZiXQ2KF8bBk3OQu7lXLqwKMxdkuBXP1U5j56razJ7l2isA9adjoqByKTvgVNjTWbUpDa9sOufhY6YkxY2fCU9e1QjlRYS6OVe5CepX5cWvr2M/HohiXoIjwJm3bUx4VdEJrMKpUEOYdnW0ckL6VHBhs6uhn42WFR31lVNGofdtVMUMim10skAA9Ryt7cs54FPJPU09fSBhZCNW6I3Kl06dTW0qlfNtqzpPDOFVbbxJXSjcEM/TqWdAkauTZQ9qzymgdZc76ahp1zajQoDqmNUFeU7NFZ2hAVqxVpseNipcz9J2qDuTrw0qRNOAqYoWYjq3yDUq9W+9YlrOgUsLFazRvOw69uVZadKWoEVQaKoU7+plr//EABoBAQEBAQEBAQAAAAAAAAAAAAIBAwAFBAb/2gAKAgIQAxAAAAD0PN5R844+UcfOIUUcKOFFHdOknv8Ahcy46o+RfPmaUOFHCiijhT3d+j/PHTLbSVRxc44jYxwo4UUcKezsv6PwOsfIstUOqIdWeHBmBZ0WQU33vEijGncU+N68us6WImcNDx4WdmvY8uUsuzThRbbeXQyM6G3I3NvMLJ+r53dnoG5qYhauqZUueEsfHHYXfDDXF+/4eW/zfSyVsdejFjrHS5/PKdlgNcNocdAv0n53L6M9voxGmOiuqyqfMU0QI9A8e74vrFC/Q+CdORekL+d/Vfn5tamjhRRx7T50Pj+o8H+g8LH6LylQea0WPb64l7ZksUUcsjeOTl9fyhqzocNrVYjddcA9sspsKKTx6PPDVn//xAA4EAACAgEDAgUDAgUCBQUAAAABAgARAwQSITFRBRATQXEiMmEUgTNCUnKRNKEVICSxwSNTc9Hh/9oACAEBAAE/AKlTEUVwWFiZdrOSvTzqVKlTm7hzOylWNiUOJtlWJgSzNRpvSobowpgZkIfkCoBatFU8xRyJVmOpDQigBFUnp1PAjY2VirCiIRK94BApsAckzCiOTvaqEZaJm0mFSpIIoiBbIEyYHxhSfcSoFsgQrRIuUu3rzcqVKlSpjwB2QFusKEWa4urlRlAJANjvDRVQFAI6nvChAFiCVAOOTBakEdRKsEVzAKMQ7TxMmQsJViYcYclWah3hUBnA6VFXdfejAFKgBKIEVOfizAnPMGNshJEaxS/0w3VnqYFHNwi4BUo3FwuQTR4hBj40VEKvZPWBQbLE/P5m1l2nuLEZ2cAEypUqVKlQIWNCY8TZW2rCpBIgG7j3mwzZMiKrUhJE27fmElgAT0lSpXFQCVUcJwUvoLvvKRk6nfZMVaJVoo5oxRTV+0w4t7VdcGY15PxMWAOL96mTEMd96m0hWf8AaY2ZASIBZswfcDV89Ie02nqTfaMLriuIFIP5i5nUML69ZVwIWupUqVDZq/YVKlSpUqVAGWjyLiB1+vbfzAsTHv8AmHAa6R0CcD7u8XS5GQsBxKgHcTbBCsC2JjTc4WHAyuQpBqMvvCD17wqSQQLvmUA6kHrMY5I/BmLKEU1Mzb1DdzGHCj946Uq0bHv8wihX+YAQKHVomPcaiCzR6T9NQjp1C/uZVRAl/XdV7SgFsNzKEK0Bx1EAHNiALzfbiHGwUNRo9DNsKEGiKlSpUqDKwT0/5YzYTjUKv1TBVxiCvEyVc/UOMewT2qGzX48lx7gTYFQcTYa3AcSr+Yti1PEA5IMdxkAXYFoQA1YHQ/7GBbrjk+59qlUzgdjAp9M8e8IO5VlBmLVwIByWMXTA495MfHi9MEH6veMjAA0a9oisvJH7z1rWo4qFRfHSbYVIr8ien9G6x16QDuJUqYtu4BydsybRktOgPEdmyNubrPSO25shEQLfMCIwc7qroIFgeuB0hcxvq+YQASLhWC1NibKIDfTc2zaNoNi4HdUKexhUjkQLvI7x8bEtZBYf7yjw0TZXzGHB46GE4vTqvqqY2xjGAY4G52iADaO/McAtS9BNzH6QaEIvgRmYoATwJufZtJ+ntLMAHAfpHAs7ekQAMLEzbGa1FCFSJtF9b4lSoiqWAY0IQLNQqRLYg8cDyqGzVmV5kHiCxdSoB7TYUPIgxMQSBNpmyvntORNnuJs9xB9IJ94b5voeog3LAm++5E9I1+027a7gQKOA194Vqz7k8QoQKHv1moyDDi3+wdb+CZodTlyZ/T3llKkm5tA/Jm0mKvIAHMbGVNGUKqp0PSEQibZUqYlQtTmhHVQx29JUoUKv8ypUqVAJVWJUC9YAYBAN3BgVgCBCtTb2Mo+8ReeIVFWIVs8dZX/6IBMYFiGqjqJ6dgm5sPWviVd/954yzBcOMfbyZ4TpxsOe+TaygJViAVDbHmHHxCs9fC2T01cFo1EjihKlcdJ6X0bpi9MbgwuVKgwsVJmwwrQvv5VKAm0gAwAVMSIbueLahQ4x4ybR3BmgzHUaUO/33UQcw6/AHdKNpuB+VIEO1hY5HsRNt9IFMAqWYRNsCwcSzDzAKlWIVniWD1dK590+oTwrPszHCemSUoHTmUCo7wKJUNwi+sGJ8OtxpdEPCIbY8z0Ttu5RlSoLsRwBilSpUoSoiA3zNk2kTxvFjVsLgU7Xc8Jv9Cny0HE8YxFNWmVOuUTC+IKMCMPoUChHYYsbueiqSZptTj1ByBR9sr8TbKntKlTUa/HgynEMbMwmDKmbEuRfeZsyYvazAeBCIVUghhwQQf3mbE+lzsnRkbgzT5l1GJMq+8C8TJrtPiynHTEjgkRXTIAyEEeRE8TvFqcWQdgZjZcqK69GFiFBtE5qrmwVCBUZUoV1lQ3KlQLKN1UBXbVQVcWo08eb/qMCdsU8MFaHBKM8YzVq8ASrxJPB8DBHzvf18LPFEyY0Z0YjHkNZV/M0enXT6dFHUjcx7kypUqVMOfBmsY8itUqZ/DsOfKchZwT1qaAnBqMmFu5H7iaoD1vlRE3FbbqfbtKlTxrTWiagfDzw7XfpMlPzifrNd4oWdU07si9+hMVyTZM0+qbA+4c9xMOtw56ANP8A0mETxjGTixZP6TRnhGTdgdP6HmpzjT4Dkq/xB4nmJ/hLMOVMyB1lTbCIR5EVLgYg2DzLg4q5r/Fzp8hxYACw6kzw/wATGqtM1I4mv1I1WqyZV+3os0uE4tLgRuCqC4TfE1P/AFPiGXZ/PmoTwfPuxHA3VJqMfq4Mqd1sfImgyb8AU9U4/wCTxnM6jHjBoEEmBmRgymipsGafKc2DFkNWyAny16nDq94/mphPXXNqtPXSl8jrdIH2HMtywRY5Ezen6OX1RabDu+JcxaxP+GZcDVvDDZA8DiaX68+Pmgh3s3ZVj+M4AeMLmDWafXafUILB9MnaZotU2myhx9p4cTxN70+EKbDvcxpNEm3Efy0qdDKBMyCvJhdmUauuJcWtw3GM1n8TW2dZqL6+o0DMt0SLFGaJ8GPUJkz3sTmgOpEwa3T6tScT8jqDHyrjR8hPCKWnhwL67B+G3R0/SeJIw4RnsfDQGYB6GpdCeICCLBly54lpjqsH0felkQwPh0Wlx7yEVVAmfxjK/GBdg7nlonq5npQzuZp7XWonZzNfrAMfp425b7ozTwjOSj4T/KbWeJuB4dqJcBml1X6bJv8ASR+K+qZcpyZHcgCzdCeowVlB4NX+ahaYcrY8iOpogwcEjsYmS8AxG/pe1mITDXpqAQaHt5GWRGYnrLiDeptp6xCFJqvFDiytjxIDt4JMTxl/58APwah8ZzXxhSajN6+VsmwKW6geem1GTTZRkQ/I7ieJatDowEYXlnhP+sT+xp4oobFjfs1TS6wZcJJ+9FthPXLksTZPUzT6o48gBP0seYWmt8ROAnHiA3+5MPimtph6vX8CN9XPv7ze7hAzkhRSgnoJotG2pJJJVB1Mw4seBduNKEzrm0mc5loqxMz5vWfcFr8RpoDnTJuxi76ieJsR4c+7qzL53MWHLlvYtheSfYRuCRcuJVizUfYMh2OGHW6qIZjaY8tTFk9RfyIbjGEy5uMNjgzPpNLnfc2Om9yDNXocGHE2RXf8A+YBYgAdf+TQZhh1KE9D9MznEcGUZDSlep9jEysvQkcVxA8Lwa8YtMp65OgjszsSbJJ/ckx7BIIog0R5ATw5dmkT8lmhctNoyWpAIPsZrtJ+mcV9jRhAMjMAllh0rrNRrMuoxYsb/wAnnhw5M+QY8YtjNNpn9BsWS156GavQnDjOXdY3AeQimI0R5iZmYKvJMwZSHAo32gdWXgxzCZcXkmWNv5m6eKZbOPF25PlU8NwHERnYc19E1mH0s710PI4oSvPO4zeHq98jaYGitfwBC8OHLkI9NSwqaDSJhyDJl5cf4WeI/wCu1X/ymCAcTFS4sYHsk/8AoQEgGuK5mtvJgb9jHEptw23uviutzxkEanET1OBL8qnhaU+TJ2FCAb9x3DvzPESRpSO7iHTH9ImYdzfx5aZBkOUHqMTEfIitA80L3qB/aZkG5GHTsZg1DY83pP7moWuoW5M3Q3cWieWry1TF9RlJ/qm3Z169poNOubMS/wBiCzCSTZM1qb8DfggzBpvWLrdEJaxlIJBHI8hmYYDh9i4aXE5RvmLiYjoZpucKDgUsuzQNDvNeUOtz7OlxYgvjvxN3QcfSsX2+J2MYA2vsZmTY7L2MDbHVv6WB/wATxPMufJiI/ogWBZoAP04A6ljcHaeMAKMCA8UWmRgmhAYdMQSETRvs1Cdmtf8AMBgaYM3p5cbdmhcnm5rUvH6o4dJizDLiV+83TdE2uTv/AGgQwDqNtn2moRMOV9h3NfXtAJoFpHPdoq3GTcjL3BE0qFc3ypmrAOfKR/VGEPloSrO2N/tIuHsEAqWftUX3l/y3z/3M1BvUZf7zFiGivyJf1N8QH6QfzC3JELWPiaxrzPG8gIFmjWsA+TOk1SHNqcCTXsfpx/uYRF+nIh7MJnT0s2RP6XI8rmHLeLG3uVFzLi9XE6joR/gzSabPhDh/tvic1ZoCq+ZadjEHMxoHFnrNWThxkJ9x95kSjAOZofsf5mJAxjYgOkGHZmmZfqb5McQ+WB9mVG/MZgqAAC+bNwMU5BokTJlGHEct89F+ZdmCKZp84ypZ+7m4rrQsXzPUG0E9a4m8gnsevwZna8uT+4+QgEAmFdmJB+JkzvZx41Fk8mY8brqNztbKLuali+ZyfiERhHJZixNkmzMWB8wylemNC58tDb4lUdQSJgX6qMbAgWZr3Teey/4ExGzF1CjhJqsy5tyj7h/vHPMWaJqxMO7TDyRUHSah/TzLxfE1i7crfnmPDAjMrsBwvWKNzKO5AmLG2R9sfl6Aqaxy2Wr4XgDyxaYbCr/c3+0IKMVPUGYMpxuCDXsfiKp22ehgxMcd10mQkCagbcrdjzLggii6EEqBtpBmQU7fJjCNGnh+lRNC6n786wgqSCOQaM0TkbxEzBSGYAGuF/8AJh1nEzNzY5B6TfPV9hwIcgQn6rAF3DlN3fMRRnVnI+qiPn8xTNI30t8zBm2G4uYGieJqDjenoErNYdy32jGZMexEPues04vFlHu3Ew/xcf8AcJiT1eB1Ey4NgLPHbezN3NzTIWyg1wnJin3vvNQm4bx1HWAzR57xlSeViattjLu9ocm4kTPhdsYNfkQQIBgVvctFmGvUT5gqXCZm/iP8zKKXH/bf+TGmJBkyqD06mHOSBNWP/WY/1czSNtdvibzFz0pWoH9j0MtOzS5lJ9NvJTtoD2mUDe1CaZ6sd4r7Off/ALQag94dQbsGZ8ijGzD34qEzId2nU/E05+g/MdGxOHXpdiaDWo3LcMJ4hqkfT5aPO3y0qE4mK+55/aK5RXHfiK9I60OY67GImDJsyA+x4MV6Im6jMupfEjqp5cV8AxLJAECD0Cg5Ki4DEaiDFHKi+TG+kkQmOd7mj1Mzurva9AABGmEbVv3aW1X7TU87DMJrIsuXEcKwJFifqcX/ALCxTRszV5VZSQteeTGXG4dRLmLJuHPURAHNbgJkzhGK9ajuXNmKpc0JkFYq7VNPxuhoqQebi3iyiZCciMtwijU0uVsOOhHYsF6Q0NwBsTOLozEqs4DT3qOtWbFXNSdyoZpq9QWLoGY+TOhI7RTZHyIW46c95umV6QwmEwDcwEJlzNykBogy7hxOqhiOIWLEky4epmf7B8+Yjfc0wfefiCZPvb5Plh+5viZfsMwdD8z+aZ/vX4g6GH7j8xftX4h6CfymZP4bTF/ET5h6mN0Ez9E/eab7z8TH937zJ/Fyf3mJ9y/Ig6Zf7f8Az5Zvs/eGN7TF9/7GHyyfY3kOomb/AEaef//EACURAAICAgICAQUBAQAAAAAAAAABAhEQMQMhEiJBIDJRYXEwgf/aAAgBAgEBPwD/ADYxjGMYyyyx4ckWkt/W7oYxjGMYxlljKTJQbdlJpJ5eOmWN/oYxjGMYx6HiyyyxyFMsc6eG6FKyx4Y0MZQ/tQk3pHjL8YsciTffZboVotlnkWa7obL+ho8bHFfA4CfipdbRRdjVkh6Eyqgbh/HiKt0SVEXdoellljLpMhJuRRKHTeFekOUdWScWlWI6Fv8A4Ri/ZMcGmKL2NWzqPSQ1bseaKJkZeLLTVonKjyKJwjGLdY8JVZRDtYaTJSroiho7seLL7NklZKBCTjaJu8WcqtIhG2OtDghpxZHkuljk+COssY8J4cUxPxmv6ciSk0n1jkTdUNVDvZA5JNSIu0v4T0aaxOVyI2qvDGMY8RE02zkVcjORxk14o8WOXTZxtzbvRDqVEoKRFKKJNNS/SGvWDPK+1oirkNWhSp0xj2MY8XSOK1I5Y+x4lP8ABJtQZxfJJU7IO0TnJkV6SZBeiIL74/BxpW8TXuMf3DGMRLZHaOT4Iu0yj//EACQRAAICAgICAgIDAAAAAAAAAAABAhEQIRIxIEEDIjBRQ3GB/9oACAEDAQE/ALEIQhCEIX4miihCEmJCEIQhG61+KihCtEZJKi2IQhCEXrrwq+8e8+8pCQkJCRQsIsjKyxvTIXx2WcurLxdC7Y2lVsuP7KEhRI1rR78LLOtjZY9FvpW8RZzqhSfs5klya30WVQmkRFj3lbGqItu0S6ijYnqmQqiUU9m0VckTikixSw2u2KMu6Ipp7w/BIq2aXSKtpklaHpikc9HK2Rpk48l2U06ZFFCZ8c5SkleOSusMQiyKKFdj6GRi2xxXH+kU1RGVCmTipUyKrCR8LpslKkIUmJ3hDI+HFWUNWTiPSFJoe4/4QbcVePiaXYncnXRMgk0VRHCGyOheT6JoaaIO4IgpK+TLQoW0TqCVEtqyMmi7YsIW2VaFKnTxf28a5SPlpxPjf1LLX7IpOaPl9EHehqmRSH3hEREl9sfyeEuiPTZLpkPZJVj/2Q==');
}

.form-control {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  line-height: 2;
  padding: 2px 5px;
  margin-bottom: 10px;
}

section {
  padding: 10px;
}

.form-control_btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
}

#message {
  margin-bottom: 10px;
}

.p-2 {
  padding: 10px;
}

.contact-container > * {
  line-height: 2;
}

.hide {
  display: none;
}

.show {
  display: block;
}

footer {
  padding: 10px;
}

.f-c {
  border: 2px solid black;
}

@media screen and (min-width: 735px) {
  .menu__items {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  .container__body {
    border: 1px solid black;
    display: grid;
    max-width: 400px;
    margin: 20px auto;
  }

  .add-book {
    max-width: 400px;
  }
}
